@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$roboto-condensed: "Roboto Condensed", sans-serif;


/*
Font Size
*/

$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-18px: 18px;
$font-size-24px: 24px;
$font-size-32px: 32px;
$font-size-48px: 48px;
$font-size-64px: 64px;


/*
Font Weight
*/


/*
Line Height
*/

$line-height-16px: 16px;
$line-height-24px: 24px;
$line-height-44px: 44px;
$line-height-64px: 64px;
$line-height-82px: 82px;


/*
Font Letter Spacing
*/

$letter-sapcing-0: 0%;
$letter-sapcing-negative-1: -1%;